<div class="modal fade" id="dashboardModal" tabindex="-1" role="dialog" aria-labelledby="dashboardModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form (ngSubmit)="createDashboard()" #dashboardModalForm="ngForm">
        <div class="modal-header">
          <h5 class="modal-title" id="dashboardModalLabel">New dashboard</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearNewDashboard()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="eleonore-dashboardname-id">Dashboard name</label>
            <input type="text" id="eleonore-dashboardname-id" class="form-control" name="eleonore-dashboardname"
                   placeholder="Enter a dashboard name" [(ngModel)]="newDashboard.name" required minlength="3"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clearNewDashboard()">Close
          </button>
          <button type="submit" class="btn btn-primary" [disabled]="dashboardModalForm.form.invalid">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
