<div *ngIf="modalRole !== modalRoles.DELETION"
     class="modal fade" id="elementModal{{element?.id}}" tabindex="-1" role="dialog"
     attr.aria-labelledby="elementModalLabel{{element?.id}}"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form (ngSubmit)="process()" #elementModalForm="ngForm" class="was-validated">
        <div class="modal-header">
          <h5 class="modal-title" id="elementModalLabel{{element?.id}}">
            <span *ngIf="modalRole === modalRoles.CREATION">New element</span>
            <span *ngIf="modalRole === modalRoles.EDITION">Edit element</span>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearElement()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <app-sonar-modal-body *ngIf="element !== undefined && element.type === types.SONAR"
                              [_dashboardId]="dashboardId"
                              [_sonarElement]="element"
                              [onProcess]="onProcess"
                              [_modalRole]="modalRole"
                              (processCompleted)="onComplete($event)">
        </app-sonar-modal-body>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clearElement()">Close
          </button>
          <button type="submit" class="btn btn-primary" [disabled]="elementModalForm.form.invalid">
            <span *ngIf="modalRole === modalRoles.CREATION">Create</span>
            <span *ngIf="modalRole === modalRoles.EDITION">Modify</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="modalRole === modalRoles.DELETION"
     class="modal fade" [attr.id]="'delElementModal' + element.id" data-backdrop="static"
     tabindex="-1" role="dialog" attr.aria-labelledby="delElementModal{{element.id}}Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form (ngSubmit)="process()" #elementModalForm="ngForm" class="was-validated">
        <div class="modal-header">
          <h5 class="modal-title" id="delElementModal{{element.id}}Label">Suppression</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <app-sonar-modal-body *ngIf="element !== undefined && element.type === types.SONAR"
                              [_dashboardId]="dashboardId"
                              [_sonarElement]="element"
                              [onProcess]="onProcess"
                              [_modalRole]="modalRole"
                              (processCompleted)="onComplete($event)">
        </app-sonar-modal-body>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
          <button type="submit" class="btn btn-primary">Oui</button>
        </div>
      </form>
    </div>
  </div>
</div>

