<div class="card card-element">
  <div class="card-header">
    <h5>{{element.projectName}}</h5>
    <div class="dropdown dropleft">
      <a class="eleonore-card-menu" href="#" role="button" id="cardMenuLink"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <em class="fas fa-ellipsis-v"></em>
      </a>
      <div class="dropdown-menu" aria-labelledby="cardMenuLink">
        <a class="dropdown-item" href="#" data-toggle="modal"
           (click)="modalRoleSelected = modalRoles.EDITION"
           [attr.data-target]="'#elementModal' + element.id">
          Modify
        </a>
        <a class="dropdown-item" href="#" data-toggle="modal"
           (click)="modalRoleSelected = modalRoles.DELETION"
           [attr.data-target]="'#delElementModal' + element.id">
          Delete
        </a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <app-sonar-element *ngIf="this.element.type === elementTypes.SONAR"
                       [elementId]="element.id" [_onProcess]="onProcess">
    </app-sonar-element>
  </div>
</div>

<app-element-modal [modalRole]="modalRoleSelected" [element]="element"
                   [dashboardId]="dashboardId"
                   (eventElement)="onComplete($event)"></app-element-modal>
